name: Run Build

on:
  - push
  - workflow_dispatch
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4

      - name: Install Dependencies
        run: npm install

      - name: Run Build
        run: NEXT_TELEMETRY_DISABLED=1 npm run build
