name: Build Docker Image

on:
  - push
  - workflow_dispatch
  - pull_request

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # pin@v4

      - name: Build Docker image
        run: docker build -t private-mirrors .
