name: test

on:
  workflow_dispatch:
  pull_request_target:
    types:
      - closed
    branches:
      - main

permissions:
  contents: read

jobs:
  debug:
    runs-on: arc
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
